<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Care-同情心同理心</title>
<link href="basic.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
        <div id="leftnav">
          <ul >
            <li> <a href="intro.htm" title="warming">Introduction</a></li>
            <li> <a href="eat.htm" title="trans-fat">Health</a></li>
            <li class="itemActive" title="流浪狗">Sympathy</li>
            <li><a href="conserve.htm" title="節能">Resource　</a></li>
            <li><a href="e-design.htm" title="eco design">e-style</a>　　　</li>
          </ul>
  </div>
        <div id="content"><h3>寵物多讓人疼愛</h3><p>以認養代替購買<br />以結紮代替撲殺</p>光鮮亮麗的背後...</div>
</div>
</body>
</html>
