<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Resource Conservation</title>
<link href="basic.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
	<div id="leftnav">
          <ul >
            <li> <a href="intro.htm" title="warming">Introduction</a></li>
            <li> <a href="eat.htm" title="trans-fat">Wealth</a></li>
            <li><a href="care.htm" title="流浪狗">Sympathy</a></li>
            <li class="itemActive" title="節能">Resource</li>
            <li><a href="e-design.htm" title="eco design">e-style</a>　　　</li>
          </ul>
    </div>
    <div id="content" class="soft">
    <h1>triple E--an Energy Efficient Economy</h1>
    <h2>冰凍了室內，暖化了冰山－－海平面上升，小島岌岌可危</h2>
<p>走到屋內的角落，環顧四周，有幾樣電子產品小小的指示燈默默亮著？</p>
<h1>Cradle to Cradle</h1>
<img src="img/WEEE.GIF" title="WEEE" alt="WEEE" align="right"/><p>從搖籃到搖籃的生命週期，循環再生，細水長流。</p>
 	</div>
</div></body>
</html>
