<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>product design</title>
<link href="basic.css" rel="stylesheet" type="text/css" />
</head>

<body><div id="wrap"><h1>Traditional practice v.s Modern trend</h1>
  <p>當時尚溶入對環境友善的設計，綠色也可以用{透明度=0}的方式存在。</p>
  <label title="LV">LV
<br />
代表圖樣:サフラン<br />
顏色:#F4C430</label></div>
</body>
</html>
