<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="節能減碳">
<title>simpleco-關電。開心</title>
<link href="basic.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#leftnav{margin-left:0px;
position:absolute;
z-index:3;
}
#content{}
#apDivLogo {
	position:absolute;
	width:188px;
	height:120px;
	z-index:1;
	right:1%;
	top: 4px;
	color:#fff;
	  text-shadow:1px 1px 4px #888888;
	font-size:2.8em;
	font-weight:bold;
	text-align:center;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: ridge;
	box-shadow:4px 4px 7px;
}
</style>
</head>

<body>
<div id="wrap">
    <div id="head"><h1 class="shadow">simpleco</h1>心中的日月♪手心的太陽
      <div id="apDivLogo"><a href="shell.htm">簡單。減碳</a></div>
    </div>
    <div id="mid">
        <!--<div id="leftnav">
          <ul >
            <li> <a href="intro.htm" title="warming" target="focus">Introduction</a></li>
            <li> <a href="eat.htm" title="trans-fat" target="focus">Eat　　　　　　</a></li>
            <li><a href="care.htm" title="流浪狗" target="focus">Care　　　　　</a></li>
            <li><a href="conserve.htm" title="節能" target="focus">Resource　</a></li>
            <li><a href="e-design.htm" title="eco design" target="focus">e-style</a>　　　</li>
          </ul>
          </div>-->
        <div id="content0">
          <iframe name="focus" frameborder="0" width="950" height="726" scrolling="no" src="intro.htm">ＣＯＮＴＥＮＴ</iframe>
          <iframe width="560" height="315" src="http://www.youtube.com/embed/lL6ifJDihKQ?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>美麗因為音樂，選這首歌是因為有Ｅｌｌａ
      </div>
  </div>
		<div id="foot">♪Celes†ere™</div>
</div>
</body>
</html>
