<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>simpleco-關電。開心</title>
<link href="basic.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="wrap">
    <div id="head">ＨＥＡＤ心中的日月♪手心的太陽</div>
    <div id="mid">
        <div id="leftnav">
          <ul >
            <li> <a href="intro.htm" title="warming" target="focus">Introduction</a></li>
            <li> <a href="eat.htm" title="trans-fat" target="focus">Eat　　　　　　</a></li>
            <li><a href="care.htm" title="流浪狗" target="focus">Care　　　　　</a></li>
            <li><a href="conserve.htm" title="節能" target="focus">Resource　</a></li>
            <li><a href="prodesign.htm" title="eco design" target="focus">Green　　　</li>
          </ul>
          </div>
        <div id="content"><iframe name="focus" frameborder="0" width="700" height="583">ＣＯＮＴＥＮＴ</iframe>
      </div>
    </div>
		<div id="foot">♪Celes†ere™</div>
</div>
</body>
</html>
