<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>simpleco-關電。開心</title>
<style type="text/css">
#wrap {
	background-color: #000;
	background-image: url(clef-basstreble.png);
	background-repeat:no-repeat;
	font-family: "微軟正黑體", sans-serif, "新細明體";
	font-size: 15px;
	color: #FFD;
	overflow: visible;
	position: fixed;
	width:950px;
}
div{
	border: medium inset aqua;
}
#leftnav #content{
	float:left;
	height:800px;
}
</style>
</head>

<body>
<div id="wrap">
    <div id="head">ＨＥＡＤ</div>
    <div id="leftnav">ＮＡＶ</div>
    <div id="content">ＣＯＮＴＥＮＴ</div>
</div>
</body>
</html>
